<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cart</title>
  </head>
  <body>
    {{#cart}}
      <p>Item Name: {{item_name}}</p>
      <p>Quantity: {{quantity}}</p>
      <p>Price: {{price}}</p>
      <p>Total: {{totalAmt}}</p>
    {{/cart}}
 
  </body>
</html>
