body {
  background-color: #3d4852;
  color: white;
  font-family: 'Lato', sans-serif;
}

body h1, h4 {
    text-align: center;
}

.forminput {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin: auto;
  width: 75%;
}

.forminput label {
  width: 25%;
  margin: 5px auto;
  text-align: center;
}

.textinput {
  margin: 5px auto;
  width: 150px;

}

.submitBtn {
  margin: auto 10px;
  width: 100px;
}

h2 {
  text-align: center;
}

/* STORE LIST */
.storelist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 0;
  list-style: initial;
}

.storeDetail {
  display: flex;
  margin-bottom: 15px;
}

.storeDetail a {
  text-decoration: none;
  color: white;
  margin: auto 15px;

}

/* GROCERY LIST */

.itemsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 0;
  list-style: initial;
}

.itemsDetail {
  display: flex;
  margin-bottom: 15px;
}

.itemsDetail li {
  display: flex;
  margin-right: 15px;
}

@media only screen and (max-width: 1080px) {
  .forminput {
    flex-direction: column;
  }

  .storelist {
    width: 80%;
  }
}
